<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Resto You Like</title>
    <script
    src="https://use.fontawesome.com/b070c8f1df.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- nav-bar comp -->
        <nav-bar class="navbar"></nav-bar>
        <!-- hero component -->
        <hero-content></hero-content>
    </header>
    
    <!-- main-content -->
    <main id="main-content"></main>

    <!-- like button -->
    <div id="like-container"></div>

    <custom-footer></custom-footer>
    
</body>
</html>